
#main-parent{
    width: 75%;
    height: auto;
     /* background-color: rgba(24, 13, 122, 0.104); */
     background-color: rgba(20, 14, 78, 0.082);
     padding: 5%;
     margin:0% auto;
     margin-top: 12%;
     margin-bottom: 4%;
     border-bottom-right-radius: 33%;
     box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
     display: flex;
}

h1{
    font-size: 99%;
    font-weight: 800;
    padding-bottom: 4%;
    margin-left: 14%;
    margin-top: 2em;
    position: absolute;
    z-index: 3;
}

.progress-bar-box1,.progress-bar-box2{
    width: 50%;
}

.progress-bar-box2{
    margin-left: 2%;
}

.html,.css,.js,.react,.node,.dbs,.java,.c,.python{
    width: 15em;
    height: 1.4em;
    background-color: rgb(238, 231, 231);
    border-radius: 14px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
    margin-bottom: 2em;
}

h3{ 
  padding: 4px;
  font-size: 13px;
}

p{
    background-color: rgba(67, 52, 160, 0.844);
    font-size: 11px;
    text-align: center;
    border-radius: 14px;
  
}

.html p{
    width: 80%;
    height: 100%;
}

.css p{
    width: 85%;
    height: 100%;
}


.js p{
    width: 70%;
    height: 100%;
}


.react p{
    width: 75%;
    height: 100%;
}


.node p{
    width: 60%;
    height: 100%;
}


.dbs p{
    width: 65%;
    height: 100%;
}


.java p,.python p,.c p{ 
    width: 40%;
    height: 100%;
}



@media (max-width:815px) {
 #main-parent{
     display: flex;
     flex-direction: column;
     border-bottom-right-radius: 22%;
 }

 .progress-bar-box1,.progress-bar-box2{
     margin-left:6%;
     width: 100%;
     height: 100%;
 }


}


@media (max-width:414px) {
     #main-parent{
        border-bottom-right-radius: 8%;
    }  

    
    .box1,.box2{
        margin-left:0%;
    }
   

    .html,.css,.js,.react,.node,.dbs,.java,.c,.python{
        width: 80%;
        height: 1em;
    
      
    }
    
    h3{ 
      padding: 4px;
      font-size: 11px;
    }
    
    p{
        background-color: rgba(67, 52, 160, 0.844);
        font-size: 11px;
        text-align: center;
        border-radius: 14px;
      
    }

}